{% load static%}
{% load tags%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main/pages/manage(P)/manageP.css' %}">
    </head>
    <body>
        <div class="nav-back"><a href="#" onclick="event.preventDefault(); window.history.back();">←</a></div>
        <center>
            <p class="title">DigiFob</p>
        </center>
        <center>
        <img src="data:image/png;base64,{{ image_base64 }}" alt="Total Purchase Chart" width="900px">
        <img src="data:image/png;base64,{{ image_base642 }}" alt="Total Purchase Chart">
        </center>
  </body>
</html>