{% load static %}
{% load tags %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main/students/students.css' %}">
        <title>Student's Hub</title>
    </head>
    <body>
        <div class="nav-back"><a href="{% url 'index' %}">←</a></div>
        <center>
        <p class="title">Student's Hub</p>
        </center>
        <div class="id-data">
            <div class="row">
                <div class="data">
                        <p>Name : {{ student.name }}</p>
                        <p>Email : {{ student.email }}</p>
                </div>
                <div class="qr">
                    <img src="data:image/png;base64,{% view_data student.student_id %}" alt="QR Code" width = 100px>
                </div>
            </div>
              
        </div>
        <div class="container">
            <div class="nav row">
                <div class="box-1 row">
                    <div class="col">
                        <div class="box-1-title"><a href="{% url 'reserve' %}">Reserve</a></div>
                        <div class="box-1-desc">
                            <p>A one-way stop to manage your child's account.</p>
                        </div>
                        <center>
                        <div class="ext-container">
                            <div class="circle"></div>
                            <a href="{% url 'reserve' %}">
                            <div class="arrows">
                                <span class="ext_arrows arrow_one"></span>
                                <span class="ext_arrows arrow_two"></span>
                                <span class="ext_arrows arrow_three"></span>
                            </div>
                            </a>
                        </div>
                        </center>
                    </div>
                </div>
                </a>
                <div class="box-2 row">
                    <div class="col">
                        <div class="box-2-title"><a href="{% url 'balance' %}">Balance</a></div>
                        <div class="box-2-desc">
                            <p>A complete access to your account.</p>
                        </div>
                        <center>
                        <div class="ext-container">
                            <div class="circle"></div>
                            <a href="{% url 'balance' %}">
                            <div class="arrows">
                                <span class="ext_arrows arrow_one"></span>
                                <span class="ext_arrows arrow_two"></span>
                                <span class="ext_arrows arrow_three"></span>
                            </div>
                            </a>
                        </div>
                        </center>
                    </div>
                </div>
                <div class="box-3 row">
                    <div class="col">
                        <div class="box-3-title"><a href="{% url 'menu' %}">Menu</a></div>
                        <div class="box-3-desc">
                            <p>A final destination to manage the whole system.</p>
                        </div>
                        <center>
                        <div class="ext-container">
                            <div class="circle"></div>
                            <a href="{% url 'menu' %}">
                            <div class="arrows">
                                <span class="ext_arrows arrow_one"></span>
                                <span class="ext_arrows arrow_two"></span>
                                <span class="ext_arrows arrow_three"></span>
                            </div>
                            </a>
                        </div>
                        </center>
                    </div>
                </div>
            </div>  
        </div>
    </body>
</html>