{% load static %}
{% load tags %}
<html>
   <head>
       <title>Student Details</title>
       <link rel="stylesheet" href = "{% static 'main/pages/sDetails/sDetails.css' %}">
       <script src="{% static 'main/pages/sDetails/sDetails.js' %}"></script>
   </head>
   <body>
       <div class="nav-back"><a href="#" onclick="event.preventDefault(); window.history.back();">←</a></div>
       <center>
       <p class="title">Student Details</p>
       <div class="inputBox">
        <input  type="text" id="searchBar" required = "none" >
        <span>Search for Students</span>
        <i></i>
        </div>
       </center>
       <div class="container">
            <div class="row">
            {% for student in  form.0.students.all %}
                <div class="data-object">
                    <h2 class="h2">{{ student.name }}</h1>
                    <p class="email">{{ student.email }}</p>
                    <button id = 'select' value="{{ student.student_id }}" onclick="redirectToStudentPage(event)">Select Student</button>
                </div>
                
            {% endfor %}
            </div>
        </div>    
        <script>
            document.getElementById('searchBar').addEventListener('input', function(e) {
                var searchValue = e.target.value.toLowerCase();
                var studentElements = document.querySelectorAll('.data-object');
        
                studentElements.forEach(function(studentElement) {
                    var studentNameElement = studentElement.querySelector('.h2');
                    var studentEmailElement = studentElement.querySelector('.email'); // Assuming each student has an email element with class 'email'
                    var studentName = studentNameElement.textContent.toLowerCase();
                    var studentEmail = studentEmailElement ? studentEmailElement.textContent.toLowerCase() : '';
    
                    if (searchValue.includes('@')) {
                        if (studentEmail.includes(searchValue)) {
                            studentElement.style.display = '';
                        } else {
                            studentElement.style.display = 'none';
                        }
                    } else {
                        if (studentName.includes(searchValue)) {
                            studentElement.style.display = '';
                        } else {
                            studentElement.style.display = 'none';
                        }
                    }
                });
            });
        </script>
   </body>

</html>
